#####################################################
#                                                   #
#         File:     .gitignore                      #
#         Category: DOTFILES                        #
#         Author:   Zoerab Tchahkiev                #
#         Link:     http://github.com/zoerab        #
#         Version:  1.0                             #
#         Revision: 12/2015                         #
#                                                   #
#####################################################

# Ignore everything by default
*

# Watch only these files and directories
!atom/
!atom/.atom/config.cson
!atom/.atom/init.coffee
!atom/.atom/keymap.cson
!atom/.atom/snippets.cson
!atom/.atom/styles.less
!chrome/.cvimrc
!chrome/
!tmux/.tmux.conf
!vim/.vimrc
!vimperator/.vimperatorrc
