#####################################################
#                                                   #
#         File:     .gitignore                      #
#         Category: DOTFILES                        #
#         Author:   Zoerab Tchahkiev                #
#         Link:     http://github.com/zoerab        #
#         Version:  1.0                             #
#         Revision: 12/2015                         #
#                                                   #
#####################################################

# Ignore everything by default
*

# Watch only these files and directories
!atom/
!atom/config.cson
!atom/init.coffee
!atom/keymap.cson
!atom/packages.json
!atom/settings.json
!atom/snippets.cson
!atom/styles.less
!chrome/.cvimrc
!chrome/
!git/
!git/.gitconfig
!nvim/
!nvim/.nvimrc
!tmux/.tmux.conf
!vim/.vimrc
!vimperator/.vimperatorrc
